@font-face {
    font-family: 'PhosphateDisplay';
    src: url('/static/fonts/Phosphate.woff2') format('woff2'),
        url('/static/fonts/Phosphate.woff') format('woff'),
        url('/static/fonts/Phosphate.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=PT+Sans+Caption:wght@700&display=swap');
@import '@fortawesome/fontawesome-svg-core/styles.css';

html,
body,
#__next {
    @apply h-full w-full overflow-hidden bg-black;
}

$console-bg: #212121;
$color-text: #f57c00;
@import url('https://fonts.googleapis.com/css?family=VT323');

html {
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: none;
}

body {
    background-color: black;
}
.device-layout-component {
    background: transparent !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.device-layout-component > div > div {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

.device-layout-component > div > div > div > div {
    padding: 20px;
    height: 100%;
    border: none;
}

@layer base {
    .terminal-gradient {
       background: radial-gradient(rgba(100,50,0,1), rgba(100,50,0,0.2))
    }
  }