@font-face {
  font-family: "PhosphateDisplay";
  src: url("/static/fonts/Phosphate.woff2") format("woff2"),
       url("/static/fonts/Phosphate.woff") format("woff"),
       url('/static/fonts/Phosphate.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=PT+Sans+Caption:wght@700&display=swap');
@import '@fortawesome/fontawesome-svg-core/styles.css';

html,
body,
#__next {
    @apply h-full w-full overflow-hidden bg-black;
}

$console-bg: #212121;
$color-text: #F57C00;
@import url('https://fonts.googleapis.com/css?family=VT323');

html {
  width: 100%;
  height: 100%;
}

@keyframes terminal-glitch {
  0%   {transform: scale(1, 1.5); }
  50%   {transform: scale(1, 1.2); }
  100% {transform: scale(1.2, 1); }
}

.terminal-glitch {
  width: 100%;
  height: 100%;
  box-shadow : inset 0px 0px 1px 1px rgba(64, 64, 64, .1);
  background: radial-gradient(ellipse at center,darken($color-text,30%) 0%,darken($color-text,100%) 100%);
  transform-origin : 50% 50%;
  transform: scale(1.03);
  animation: terminal-glitch .1s linear infinite;
  opacity: .4;
  position: fixed;
  z-index: -1;
}

.terminal {
  position: absolute;
  z-index: 1;
  padding: 15px;
  top: 3%;
  right: 3%;
  bottom: 3%;
  left: 3%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  border: 15px solid;
  border-bottom-color: #222222;
  border-left-color: #050505;
  border-right-color: #050505;
  border-top-color: #111111;
  box-shadow: inset 0 0 10rem #020202, inset 0 0 3rem black, 0 0 10rem black;
}

.terminal::-webkit-scrollbar-track {
    border-radius: 0;
	  background-color: $console-bg;
  }

  .terminal::-webkit-scrollbar {
	  width: 10px;
	  background-color: lighter($console-bg, 50%);
  }

  .terminal::-webkit-scrollbar-thumb {
	  border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(0,0,0,1);
	  background-color: #444;
  }
